.content{display: inline-block;
flex-direction: row;
width:40%;}

.left{display: flex;
flex-direction: row;
  flex-wrap: wrap;
width: 40%;}

.left_first {
  display: flex;
  flex-direction: column;
  text-align: center;

  &h3 {
    color: #ffa500;
  }
}

.left_middle{display: flex;
  flex-direction: column;
  text-align: center;



}
.right{display:flex;
  flex-direction: row;
  width: 60%;
}

div{
  border: dotted 2px #ffffff;
  padding: 20px;
  margin: 40px auto;
  width: 40%;
}